*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

publish/
*.pubxml
*.pubxml.user

*.nupkg
*.snupkg
packages/

*.DotSettings.user


.env


*.pfx
*.p12

*.log
Logs/

.DS_Store
Thumbs.db